@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "video-react/dist/video-react.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  background: linear-gradient(to bottom, #ffc04b, #ff7f00);
  background-attachment: fixed;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body * {
  font-family: "Ubuntu", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a:hover {
  color: initial !important;
}

.ant-form-item-label > label {
  font-size: 1rem !important;
  font-weight: bold !important;
  color: rgb(243 244 246) !important;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.video-react-big-play-button {
  border: none !important;
  border-radius: 50% !important;
  height: 8rem !important;
  width: 8rem !important;
  left: 45% !important;
}
.video-react-big-play-button:before {
  top: 50% !important;
  left: 50% !important;
  scale: 2;
  transform: translate(-25%, -25%) !important;
  width: fit-content !important;
  height: fit-content !important;
}

.ant-collapse-header {
  align-items: center !important;
}
.ant-select-item-option-state {
  margin-left: 5px;
}